
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  color: #333;
  font-family: "Quicksand-Regular", sans-serif;
}

.left {
  overflow:   auto;
  position:   absolute;
  top:        0px;
  left:       0px;
  width:      220px;
  bottom:     0px;
  background: #38454C;
}

.menu {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

hr {
  border-color: #DDDDDD;
}

.compose {
  width: 140px;
  height: 30px;
  display: block;
}

.menu > ul {
  text-align: left;
  padding: 0px;
  margin: 00px 0px 0px 0px;
}

.menu > ul > li > a {
  color: #F6F6F6;
  padding: 0px 0px 0px 20px;
  margin: 0px;
  display: table-cell;
  width: 100%;
  height: 60px;
  vertical-align: middle;
  text-decoration: none;
}

.menu > ul > li > a.secondary {
  color: #73838C;
}
.menu > ul > li > a.secondary:hover,
.menu > ul > li > a.secondary:focus {
  color: #F6F6F6;
}

.menu > ul > li > a:hover,
.menu > ul > li > a:focus,
.menu > ul > li.active {
  background: #425057;
}

li {
  padding: 0px;
  margin: 0px;
  display: inline-table;
  width: 100%;
}

.email-count {
  background: #3F4E57;
  border-radius: 2px;
  color: #FDFDFD;
  padding: 2px 8px;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;
  float: right;
}

li:hover .email-count,
li.active .email-count {
  background: #344249;
  color: #FDFDFD;
}

.primary-button {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  font-weight: normal;

  background: #4282B1;
  color: #FAFAFA;

  font-size: 0.8em;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  border: none;

  margin: 20px auto 20px auto;
}

.primary-button:hover {
  background-color: #5292C1;
}

.secondary-button {
  background: #FDFDFD;
  color: #4282B1;

  font-size: 0.8em;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: solid #DDDDDD 1px;

  margin: 20px auto 20px auto;
  padding: 10px;

  cursor: pointer;
}

.secondary-button:hover {
  background: #4282B1;
  color: #FDFDFD;
}

.load-more .spinner,
.load-more .secondary-button {
  /*position: absolute;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.load-more {
  display: block;
  position: relative;
  margin: 0px;
  height: 50px;
  width: 100%;
  /*border-top: 1px solid #ddd;*/
}


.title {
  margin: 0px;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid #ddd;
}

.title > h1 {
  display: inline;
}

.middle-column {
  overflow-x: hidden;
  overflow-y: auto;
  position:   absolute;
  top:        0px;
  left:       220px;
  width:      480px;
  bottom:     0px;
  border-right: 1px solid #ddd;
}

.middle-column > ol {
  width:            480px;
  margin:           0px;
  padding:          0px;
  background-color: #FDFDFD;
  cursor:           pointer;
}

.email-header {
  width:          480px;
  /*width: 100%;*/
  margin:         0px;
  padding:        0px;
  border-bottom:  1px solid #DDDDDD;
  border-left:    6px solid transparent;
}

.email-header div {
  display: block;
  margin: 0px 0px 1px 0px;
}

.email-header input,
.email-header h4,
.email-header h5 {
  font-weight: normal;
  padding: 0px;
  display: inline-block;
  margin: 0px;
  font-family: "Quicksand-Regular", sans-serif;
}

.email-header-from {
  padding: 0.5em 0px 0em 0.5em;
  font-size: 1.2em;
  color: #999999;
}

.email-header-subject {
  padding: 0.2em 0px 0.5em 0.5em;
  font-size: 1em;
  color: #000000;
}

.email-header-selected, .email-header:hover {
  background: #EEEEEE;
}

.email-header-unread {
  border-left: 6px solid #02a3c6;
}

.content {
  overflow:   auto;
  position:   absolute;
  top:        80px;
  left:       700px;
  right:      0px;
  bottom:     0px;
  padding: 20px 20px 20px 20px;
  color: #999999;
}

.right {
  overflow:   auto;
  position:   absolute;
  top:        0px;
  left:       250px;
  right:      0px;
  bottom:     0px;
}

.email-content-header {
  padding:    10px 0px 0px 20px;
  overflow:   auto;
  position:   absolute;
  top:        0px;
  right:      0px;
  left:       700px;
  height:     67px;
  border-bottom: 1px solid #DDDDDD;
}

.email-content-header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: normal;
}

.email-content-body,
.email-content-body > div {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.email-content-from {
  color: #69ACDB;
}

.email-content-right{
  float: right;
  text-align: right;
  font-family: "Quicksand-Regular", sans-serif;
}

.email-content-right div {
  padding-top: 2px;
}
.email-content-right div img {
  cursor: pointer;
  padding: 0px 0px 0px 4px;
}

iframe {

  width: 100%;
  height: 100%;
}


/* Settings */

.settings-item {
  margin: 20px 30px 50px 30px;
  position: relative;
}

.settings-item form {
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.settings-item h4 {
  position: relative;
  font-size: 2em;
  margin: 10px 0px 20px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: solid #4282B1 1px;
  font-family: "Quicksand-Light", sans-serif;
  color: #A3B3BC;
}

fieldset {
  position: relative;
  display: block;
  margin: 20px 0px 20px 0px;
  padding: 0px;
  border: none;
}

label,
input {
  cursor: pointer;
}

.settings-item form fieldset label {
  display: inline-block;
  width: 200px;
}
.settings-item form fieldset label,
.settings-item form fieldset input[type=text],
.settings-item form fieldset input[type=password] {
  height: 1.1em;
  font-size: 1.1em;
}
.settings-item form fieldset input[type=text],
.settings-item form fieldset input[type=password] {
  border-radius: 3px;
  border: solid #DDDDDD 1px;
}

.primary-button {
  font-family: "Quicksand-Regular", sans-serif;
  padding: 5px 20px;
  font-size: 1.1em;
  cursor: pointer;
}

.settings-item form input[type=submit] {
  float: right;
  margin-top: 10px;
  max-width: 100px;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
}

.settings-item form fieldset input {
  display: inline-block;
  text-align: left;
  padding: 4px;
  /*width: 384px;*/
}