<!DOCTYPE html>
<html ng-app="myApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Dolphyn</title>

    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0,width=device-width">

    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">-->
    <link rel="stylesheet" href="css/fonts/Quicksand/stylesheet.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<div class="left" ng-controller="MenuCtrl">
    <a href="/#/box/Drafts/new" id="compose" class="compose primary-button">COMPOSE MAIL</a>
    <div class="menu">
        <ul>
            <li ng-class="{'active': currentMenu=='Inbox'}">
                <a href="/#/box/Inbox" ng-click="changeMenu('Inbox')">Inbox <span class="email-count" ng-if="unreadCount > 0">{{unreadCount}}</span></a>
            </li>
            <li ng-class="{'active': currentMenu=='Sent'}">
                <a href="/#/box/Sent" ng-click="changeMenu('Sent')">Sent</a>
            </li>
            <li ng-class="{'active': currentMenu=='Drafts'}">
                <a href="/#/box/Drafts" ng-click="changeMenu('Drafts')">Drafts</a>
            </li>
            <li ng-class="{'active': currentMenu=='Trash'}">
                <a href="/#/box/Trash" ng-click="changeMenu('Trash')">Trash</a>
            </li>
            <li class="pure-menu-separator"><hr/></li>
            <li ng-class="{'active': currentMenu=='Settings'}">
                <a href="/#/settings" class="secondary" href="/#/Settings" ng-click="changeMenu('Settings')">SETTINGS</a>
            </li>
            <li>
                <a href="/logout" class="secondary" href="/logout">LOGOUT</a>
            </li>
        </ul>
    </div>
</div>
<div class="emails" ng-view>
</div>


<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
<script src="js/vendor/jquery-2.0.3.min.js"></script>

<script src="js/vendor/purl.js"></script>

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
<script src="js/vendor/jquery-ui.min.js"></script>

<script src="js/vendor/jquery.slimscroll.min.js"></script>


<!--<script src="//code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>-->
<script src="js/vendor/angular.min.js"></script>

<!--<script src="//code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>-->
<script src="js/vendor/angular-route.min.js"></script>

<script src="js/vendor/angular-sanitize.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="js/vendor/html-css-sanitizer-minified.js"></script>

<script src="js/app/app.js"></script>
<script src="js/app/services.js"></script>
<script src="js/app/controllers.js"></script>
<script src="js/app/filters.js"></script>
<script src="js/app/directives.js"></script>

<script src="js/app/plugins.js"></script>
<!--<script src="js/app/main.js"></script>-->


</body>
</html>