
<div class="emails" ng-controller="BoxCtrl">

    <div class="middle-column">
        <div class="title">
            <h1>{{title}}</h1>
            <input type="text" placeholder="Search" name="search" class="search"/>
        </div>
        <ol>
            <li class="email-header"
                ng-repeat="message in messages"
                ng-click="getMessage(message)"
                ng-class="{'email-header-unread': message.isUnread, 'email-header-selected': message.seqno == selectedMessage.seqno}">
                <div class="email-header-from">
                    <input class="regular-checkbox" type="checkbox"/>
                    <h5>{{message.from[0].name}}</h5>
                </div>
                <div class="email-header-subject">
                    <h4>{{message.subject}}</h4>
                </div>
            </li>
        </ol>

        <div class="load-more">
            <button id="loadMoreMail" class="secondary-button" ng-if="!loading" ng-click="loadMore()">LOAD MORE</button>
            <img class="spinner" src="/img/spinner.gif" ng-if="loading"/>
        </div>
    </div>


    <div class="email-content-header" ng-hide="edit">
        <h1 class="email-content-title">{{selectedMessage.subject}}</h1>
    </div>
    <div class="content" ng-hide="edit">
        <div class="email-content-subtitle" ng-show="selectedMessage">
            From <span class="email-content-from">{{selectedMessage.from[0].name}}</span>
            <div class="email-content-right">
                <span class="date">{{selectedMessage.readableDate}}</span>
                <div>
                    <img src="/img/reply.png"/>
                    <img src="/img/delete.png"/>
                </div>
            </div>
        </div>
        <div class="email-content-body">
            <div>
                <iframe seamless srcdoc="{{selectedMessage.trustedHtml}}"></iframe>
            </div>
        </div>
    </div>


    <div class="email-content-header" ng-show="edit">
        <label for="compose-subject">Subject</label><input id="compose-subject" class="email-content-title" ng-model="selectedMessage.subject"/>
        <button class="primary-button send" ng-click="send()">SEND</button>
    </div>
    <div class="content" ng-show="edit">
        <div class="email-content-subtitle">
            <label for="compose-to">To</label><input id="compose-to" class="email-to" ng-model="selectedMessage.to"/>
            <div class="email-content-right">
                <div>
                    <img src="/img/reply.png"/>
                    <img src="/img/delete.png"/>
                </div>
            </div>
        </div>
        <div class="email-content-body">
            <div>
                <textarea id="compose-body" class="email-body"  ng-model="selectedMessage.html"></textarea>
            </div>
        </div>
    </div>
</div>