
<div class="left">
    <button id="compose" class="primary-button compose" ng-click="compose()">COMPOSE MAIL</button>
    <div class="menu">
        <ul>
            <li ng-class="{'active': currentMenu=='INBOX'}">
                <a href="/app/INBOX/ALL" ng-click="changeMenu('INBOX')">Inbox <span class="email-count" ng-if="unreadCount > 0">{{unreadCount}}</span></a>
            </li>
            <li ng-class="{'active': currentMenu=='Sent'}">
                <a href="/app/Sent/ALL" ng-click="changeMenu('Sent')">Sent</a>
            </li>
            <li ng-class="{'active': currentMenu=='Drafts'}">
                <a href="/app/Drafts/ALL" ng-click="changeMenu('Drafts')">Drafts</a>
            </li>
            <li ng-class="{'active': currentMenu=='Trash'}">
                <a href="/app/Trash/ALL" ng-click="changeMenu('Trash')">Trash</a>
            </li>
            <li class="pure-menu-separator"><hr/></li>
            <li ng-class="{'active': currentMenu=='Account'}">
                <a href="/app/Account/Settings" class="secondary" ng-click="changeMenu('Account')">SETTINGS</a>
            </li>
            <li>
                <a href="/logout" class="secondary" href="/logout" ng-click="logout()">LOGOUT</a>
            </li>
        </ul>
    </div>
</div>

<div ng-include="template"></div>